body{
    background-image: url(./image/background.gif);
    background-color: #FCEBB6;
    color:#221811;
    font-family: Verdana, Arial, sans-serif;
}
header{
    height: 150px;
    background-color: #D2B48C;
    background-image: url(./image/javajamlogo.jpg);
    background-repeat: no-repeat;
}
h1{
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}
nav{
    font-size: 1.50em;
    padding-top: 10px;
    text-align:center;
    font-weight:bold;
    float: left;
    width: 200px;
}
footer{
    padding-bottom: 2px;
    border-top: #221811;
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}
#wrapper{
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 5px #2a2929;
    margin-right:auto;
    margin-left:auto;
}
nav a{text-decoration:none;}
h4{
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    text-transform: uppercase;
    border-bottom: 1px;
    padding-bottom: 0;
    clear: left;
}
main{
    padding-left: 0;
    padding-right: 0;
    margin-left: 200px;
    padding-top: 0;
    background-color: #fef6c2;
    padding-bottom: 2em;
    display: block;
}
.details{
    padding-left: 20%;
    padding-right: 20%;
}
img{
    padding-left: 10px;
    padding-right: 10px;
}

* { box-sizing: border-box; }
#heroroad{
    background-image: url(./image/heroroad.jpg);
    background-size: 100%;
    height: 250px;
}
#heromugs{
    background-image: url(./image/heromugs.jpg);
    background-size: 100%;
    height: 250px;
}
#heroguitar{
    background-image: url(./image/heroguitar.jpg);
    background-size: 100%;
    height: 250px;
}

main h2,main h3,main h4,main p,main div,main ul,main dl {
    padding-left: 3em;
    padding-right: 2em;
}
nav a:link {color: #fef6c2;}
nav a:visited {color: #D2B48C;}
nav a:hover {color: #CC9933;}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}
.details {
    overflow: auto;
}

header , nav , main , footer {display: block;}

table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-spacing: 0;
    background-color: #FFFFCC;
}

td , th {
    padding: 10px;
}
tr:nth-of-type(odd){
    background-color: #d2b48e;
}
form{
    padding: 2em;
}

label{
    float: left;
    text-align: right;
    width: 8em;
    padding-right: 1em;
    display: block;
}

input{
    margin-bottom: 1em;
    display: block;
}

textarea{
    margin-bottom: 1em;
    display: block;
}

#mySubmit{
    margin-left: 9.5em;
}

#herojobs{
    height: 250px;
    background-image: url(./image/herojobs.jpg);
    background-size: 100% 100%;
}



